.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 14px;
    font-family: Inter;
    text-align: center;
}

body {
    background-color: hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-radius: 10px;
    width: 360px;
}

img {
    width: 30%;
    border-radius: 100%;
    margin: 10px 0px;
}

h1 {
    font-size: 25px;
    margin: 10px;
}

h2 {
    color: hsl(75, 94%, 57%);
    margin-bottom: 15px;
}

.info {
    font-family: Inter Thin;
    font-weight: 400;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 12px;
    margin: 15px;
}

.links {
    display: flex;
    flex-direction: column;
    width: 100%;
}

button {
    background-color: hsl(0, 0%, 20%);
    font-weight: 500;
    padding: 15px;
    margin-top: 12px;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

button:hover {
    cursor: pointer;
    background-color: hsl(75, 94%, 57%);
    color: black;
}

@media screen and (max-width: 380px) {
    .container {
        width: 300px;
    }
}